

.footer {
    margin-top: 110px;
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 15, 39)
}

.abt-head {
    color: #ffffff;
    padding: 20px 100px;
    font-size: 20px;
    margin-top: 20px;
}

.abt-p {
    color: #ffffff;
    padding: 60px 100px;
    margin-right: 57%;
    float: left;
    margin-top: -40px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.footer-title-container {
    float: right;
    margin-right: 50%;
    margin-top: -70px;
}

.footer-title {
    color: #ffffff;
    font-size: 20px;
    margin-top: -210px;
    margin-bottom: 30px;
}

.footer-li {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.footer-title-container-2 {
    float: right;
    margin-right: 37%;
    margin-top: -300px;
}

.footer-title-2 {
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-li {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.footer-title-container-3 {
    float: right;
    margin-right: 20%;
    margin-top: -300px;
}

.footer-title-3 {
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.footer-li {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
}

.f-txt {
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
}

.logo2 img {
    width: 20%;
    margin-left: 10%;

}
